/* *************************************************************************************************
   GTK NAMED COLORS
   ----------------
   use responsibly! 
************************************************************************************************* */


/* ****************************** A C C E N T   C O L O U R S *********************************** */

@define-color    theme_accent_color                    #b56400;

@define-color    theme_selected_bg_color               @theme_accent_color;
@define-color    theme_selected_fg_color               #ffffff;
@define-color    theme_unfocused_selected_bg_color     @theme_accent_color;

/* sidebar colours */
@define-color    sidebar_bg                            #704100;
@define-color    sidebar_hovering                      #a08060;
@define-color    sidebar_fg                            #ffffff;

@define-color    theme_fg_color_sel                    #dc6800;

/* view */
@define-color    view_fg_sel                           #683307;
@define-color    view_border_sel                       #dc6800;
@define-color    view_bg_acceleditor                   #b56400;

/* entry */
@define-color    entry_border_act                      #683307;
@define-color    entry_border_act_shad                 #b56400;
@define-color    entry_tag_a                           #b95C00;
@define-color    entry_tag_b                           #b65700;
@define-color    entry_tag_c                           #b35500;
@define-color    entry_tag_border                      #683307;

/* scale */
@define-color    scale_fill_a                          shade(@theme_selected_bg_color, 1.1);
@define-color    scale_fill_b                          shade(@theme_selected_bg_color, 0.94);

/* buttons */
@define-color    button_fg_sugg_color                  #f7f7f7;
@define-color    button_bg_sugg_a                      #d46922;
@define-color    button_bg_sugg_b                      #b35915;
@define-color    button_bg_sugg_c                      #a64609;
@define-color    button_bg_sugg_a_hov                  #e77325;
@define-color    button_bg_sugg_b_hov                  #c76318;
@define-color    button_bg_sugg_c_hov                  #b05415;
@define-color    button_bg_sugg_a_act                  #d96300;
@define-color    button_bg_sugg_b_act                  #dc6800;
@define-color    button_bg_sugg_c_act                  #df6f00;
@define-color    button_bg_sugg_flt                    #dc6800;
@define-color    button_border_sugg                    #683307;

/* progress bar */
@define-color    prgbar_bg_a                           #b46d16;
@define-color    prgbar_bg_b                           #ae6019;

/* scale slider */
@define-color    slider_bg_a                           @theme_accent_color;
@define-color    slider_bg_b                           @theme_accent_color;
@define-color    slider_bdr                            @theme_accent_color;
@define-color    slider_fg_shadow                      @shadow_color;
@define-color    slider_bg_a_hov                       #ff9e00;
@define-color    slider_bg_b_hov                       #ff9e00;
@define-color    slider_bdr_hov                        #ff9e00;
@define-color    slider_bg_act                         #ff9e00;

/* infobar */
@define-color    infobar_bg_a                          #9f5a15;
@define-color    infobar_bg_b                          #9f5a15;
@define-color    infobar_border                        #543800;
@define-color    infobar_button_fg                     #f7f7f7;
@define-color    infobar_button_fg_dis                 #c39774;
@define-color    infobar_button_bg_a                   #c06500;
@define-color    infobar_button_bg_b                   #8b4900;
@define-color    infobar_button_bg_act_a               #8b4900;
@define-color    infobar_button_bg_act_b               #c06500;
@define-color    infobar_button_border                 #683307;

@define-color    terminal_fg                           #729FCF;


