/* *************************************************************************************************
   GTK NAMED COLORS
   ----------------
   use responsibly! 
************************************************************************************************* */


/* ****************************** A C C E N T   C O L O U R S *********************************** */

@define-color    theme_accent_color                    #b56400;

@define-color    theme_selected_bg_color               @theme_accent_color;
@define-color    theme_selected_fg_color               #ffffff;
@define-color    theme_unfocused_selected_bg_color     @theme_accent_color;

/* sidebar colours */
@define-color    sidebar_bg                            #704100;
@define-color    sidebar_hovering                      #808080;
@define-color    sidebar_fg                            #ffffff;

@define-color    theme_fg_color_sel                    #dc6800;

/* view */
@define-color    view_fg_sel                           #683307;
@define-color    view_border_sel                       #dc6800;
@define-color    view_bg_acceleditor                   #b56400;

/* entry */
@define-color    entry_border_act                      #683307;
@define-color    entry_border_act_shad                 #b56400;
@define-color    entry_tag_a                           #b95C00;
@define-color    entry_tag_b                           #b65700;
@define-color    entry_tag_c                           #b35500;
@define-color    entry_tag_border                      #683307;

/* buttons */
@define-color    button_fg_sugg_color                  #f7f7f7;
@define-color    button_bg_sugg_a                      #d46922;
@define-color    button_bg_sugg_b                      #b35915;
@define-color    button_bg_sugg_c                      #a64609;
@define-color    button_bg_sugg_a_hov                  #e77325;
@define-color    button_bg_sugg_b_hov                  #c76318;
@define-color    button_bg_sugg_c_hov                  #b05415;
@define-color    button_bg_sugg_a_act                  #d96300;
@define-color    button_bg_sugg_b_act                  #dc6800;
@define-color    button_bg_sugg_c_act                  #df6f00;
@define-color    button_bg_sugg_flt                    #dc6800;
@define-color    button_border_sugg                    #683307;

/* progress bar */
@define-color    prgbar_bg_a                           #b46d16;
@define-color    prgbar_bg_b                           #ae6019;
@define-color    prgbar_trough                         #101010;
@define-color    prgbar_trough_a                       #202020;
@define-color    prgbar_trough_b                       #303030;
@define-color    prgbar_border                         #303030;

/* scale slider */
@define-color    slider_bg_a                           @theme_accent_color;
@define-color    slider_bg_b                           @theme_accent_color;
@define-color    slider_bdr                            @theme_accent_color;
@define-color    slider_fg_shadow                      @shadow_color;
@define-color    slider_bg_a_hov                       #ff9e00;
@define-color    slider_bg_b_hov                       #ff9e00;
@define-color    slider_bdr_hov                        #ff9e00;
@define-color    slider_bg_act                         #ff9e00;

/* infobar */
@define-color    infobar_bg_a                          #c06500;
@define-color    infobar_bg_b                          #8b4900;
@define-color    infobar_border                        #543800;
@define-color    infobar_button_fg                     #f7f7f7;
@define-color    infobar_button_fg_dis                 #dd8800;
@define-color    infobar_button_bg_a                   #c06500;
@define-color    infobar_button_bg_b                   #8b4900;
@define-color    infobar_button_bg_act_a               #8b4900;
@define-color    infobar_button_bg_act_b               #c06500;
@define-color    infobar_button_border                 #683307;

@define-color    terminal_fg                           #729FCF;

/* ****************************** C O M M O N   C O L O U R S *********************************** */

/* text widgets and the like base background color */
@define-color    theme_base_color                      #384248;

@define-color    box_shadow                            #cccccc;   

/* widget background color */
@define-color    theme_bg_color                        #2f393f;
@define-color    theme_bg_color_hov                    #50595c;
@define-color    theme_bg_color_from                   #454c4c;
@define-color    theme_bg_color_to                     #2d3232;
@define-color    popover                               #384248;
@define-color    shadow_color                          #000000;

/* widget text/foreground color */
@define-color    theme_fg_color                        #eeeeec;
@define-color    theme_text_color                      @theme_fg_color;
@define-color    theme_fg_color_sub                    #666C6F;
@define-color    theme_fg_color_dis                    #858786;

@define-color    inline_bg                             #30393f;

/* sidebar colours */
@define-color    assistant_sidebar_bg                  #252a2c;
@define-color    assistant_sidebar_bg_lbl              #585d5e;
@define-color    assistant_sidebar_fg                  #cccccc;

/* view */
@define-color    view_bg                               #202a2f; /*2f3738*/
@define-color    view_bg_hover                         #2d3538;
@define-color    view_fg                               #bdbebf;
@define-color    view_fg_dis                           #566164;
@define-color    view_fg_hov                           #bccee1;
@define-color    view_border                           #2b3032;
@define-color    view_hdr_border                       #373e40;

@define-color    tooltip_fg                            #f7f7f7;

@define-color    separator                             #1b1f20;
@define-color    header_separator                      #1b1f20;
@define-color    notebook_separator                    #1b1f20;
@define-color    border_box                            #1b1f20;

/* progress bar */
@define-color    prgbar_trough                         #101010;
@define-color    prgbar_trough_a                       #131313;
@define-color    prgbar_trough_b                       #191919;
@define-color    prgbar_border                         #263336;

/* entry */
@define-color    entry_fg_color                        #ffffff;
@define-color    entry_fg_dis                          #858786;
@define-color    entry_bg_a                            #445053;
@define-color    entry_bg_b                            #475157;
@define-color    entry_bg_c                            #495259;
@define-color    entry_bg_under_a                      #FFFFFF;
@define-color    entry_bg_under_b                      #000000;
@define-color    entry_bg_shadow                       @shadow_color;
@define-color    entry_border                          #0a0a0a;
@define-color    entry_border_dis                      #0a0a0a;

@define-color    titleentry_fg_color                   #ffffff;
@define-color    titleentry_fg_dis                     #858786;
@define-color    titleentry_bg_a                       #555758;
@define-color    titleentry_bg_b                       #575a5b;
@define-color    titleentry_bg_c                       #606566;
@define-color    titleentry_bg_under_a                 #FFFFFF;
@define-color    titleentry_bg_under_b                 #000000;
@define-color    titleentry_bg_shadow                  @shadow_color;
@define-color    titleentry_border                     #0a0a0a;
@define-color    titleentry_border_dis                 #0a0a0a;

@define-color    entry_border_err                      #1a0000;
@define-color    entry_bg_err_a                        #490000;
@define-color    entry_bg_err_b                        #4c0000;
@define-color    entry_bg_err_c                        #4F0000;
@define-color    entry_fg_err                          #ffffff;


/* header bars */
@define-color    header_fg_color                       #eeeeec;
@define-color    header_fg_color_sub                   #cccccc;
@define-color    header_bg_a                           #414b51;
@define-color    header_bg_b                           #384248;
@define-color    pathbar_bg                            @theme_base_color;
@define-color    titlepathbar_bg                       #384248;
@define-color    pathbar_bdr                           #444444;
@define-color    pathbar_bdr_sub                       #222222;

/* buttons */
@define-color    button_fg_color                       #ffffff;
@define-color    button_fg_osd                         #cccccc;
@define-color    button_fg_osd_dis                     #666666;
@define-color    button_fg_shadow                      @shadow_color;
@define-color    button_fg_dis                         #566164;
@define-color    button_bg_a                           #263036;
@define-color    button_bg_b                           #262c33;
@define-color    button_bg_c                           #191f23;
@define-color    button_bg_a_hov                       #3c464c;
@define-color    button_bg_b_hov                       #30363c;
@define-color    button_bg_c_hov                       #191f23;
@define-color    button_bg_a_act                       #0f1313;
@define-color    button_bg_b_act                       #151919;
@define-color    button_bg_c_act                       #1a1f22;
@define-color    button_bg_a_dis                       #232c33;
@define-color    button_bg_a_bkdrp                     #232628;
@define-color    button_border                         #0a0a0a;

@define-color    titlebutton_fg_color                  #ffffff;
@define-color    titlebutton_fg_shadow                 @shadow_color;
@define-color    titlebutton_fg_dis                    #566164;
@define-color    titlebutton_flat_bg                   #5b6464;
@define-color    titlebutton_bg_a                      #263036;
@define-color    titlebutton_bg_b                      #262c33;
@define-color    titlebutton_bg_c                      #191f23;
@define-color    titlebutton_bg_a_hov                  #3c464c;
@define-color    titlebutton_bg_b_hov                  #30363c;
@define-color    titlebutton_bg_c_hov                  #191f23;
@define-color    titlebutton_bg_a_act                  #0f1313;
@define-color    titlebutton_bg_b_act                  #151919;
@define-color    titlebutton_bg_c_act                  #191f23;
@define-color    titlebutton_bg_a_dis                  #232628;
@define-color    titlebutton_border                    #0a0a0a;

@define-color    button_fg_dest_color                  #f7f7f7;
@define-color    button_bg_dest_a                      #d43724;
@define-color    button_bg_dest_b                      #c20f0f;
@define-color    button_bg_dest_c                      #b60a0a;
@define-color    button_bg_dest_a_hov                  #ed422c;
@define-color    button_bg_dest_b_hov                  #cc0f0f;
@define-color    button_bg_dest_c_hov                  #b60a0a;
@define-color    button_bg_dest_a_act                  #b90e0e;
@define-color    button_bg_dest_b_act                  #b90e0e;
@define-color    button_bg_dest_c_act                  #b90e0e;
@define-color    button_bg_dest_flt                    #d51010;
@define-color    button_border_dest                    #560000;

@define-color    button_bg_dis_a                       #2f3333;
@define-color    button_bg_dis_b                       #2d343a;

@define-color    button_bgcirc_a_hov                   #353c3e;
@define-color    button_bgcirc_b_hov                   #444444;
@define-color    button_bgcirc_c_hov                   #2a2e30;

@define-color    button_fgcirc_shadow                  @shadow_color;
@define-color    button_bgcirc_a                       #444444;
@define-color    button_bgcirc_b                       #2a2e30;
@define-color    button_bgcirc_c                       #25292b;
@define-color    button_bgcirc_flt_a                   #0b0c0c;
@define-color    button_bgcirc_flt_b                   #1b1f20;

/* menus and menubars */
@define-color    menu_bg                               @popover;
@define-color    menu_bg_hover                         #4b5254;
@define-color    menu_bdr                              #373b3d;
@define-color    menu_arr                              #373b3d;
@define-color    menu_arr_dis                          #282d2f;
@define-color    menuitem_fg_normal                    #CFCFCF;
@define-color    menuitem_fg_hover                     #FFFFFF;
@define-color    menuitem_bg_hover                     @theme_accent_color;
@define-color    menuitem_fg_dis                       #566164;
@define-color    menuitem_separator                    #1b1f20;
@define-color    headermenu_bg_hover                   #4b5254;

@define-color    panel_bg                              #384248;
@define-color    panel_bg_hov                          #515757;
@define-color    panel_fg                              #f7f7f7;

/* scale */
@define-color    scale_trough_b                        @theme_bg_color;
@define-color    scale_fill_a                          shade(@theme_selected_bg_color, 1.1);
@define-color    scale_fill_b                          shade(@theme_selected_bg_color, 0.94);

/* notebook */
@define-color    notebook_bg                           #3c464c;
@define-color    notebook_border                       #212121;
@define-color    notebook_border_sel                   @theme_accent_color;
@define-color    notebook_border_hov                   #fff;
@define-color    section_bg                            #383e41;

/* scrollbar */
@define-color    scroll_bg                             #2b3032;
@define-color    scroll_slider_bg                      #a3a6a5;
@define-color    scroll_slider_bg_hover                #c9cac9;
@define-color    scroll_slider_bkdrp                   #595d5f;

/* treeview */
@define-color    treeview_bg_a                         #263036;
@define-color    treeview_bg_b                         #191f23;
@define-color    treeview_fg                           @theme_fg_color;
@define-color    treeview_fg_sel                       #f7f7f7;

/* label */
@define-color    label_bg_active                       @theme_accent_color;
@define-color    label_fg_dis                          #566164;

/* row */
@define-color    row_bg_active                         @theme_accent_color;
@define-color    row_fg_dis                            #566164;

/* hdyview */
@define-color    hdybutton_bg_hov                      #384248;
@define-color    hdybutton_bg_chk                      #3f4e57;
@define-color    hdyheadbutton_bg_a                    #535c63;
@define-color    hdyheadbutton_bg_b                    #494f53;
@define-color    hdyheadbutton_bdr                     #63696c;
@define-color    hdyheadbutton_bdr_r                   #42494c;
@define-color    hdyheadbutton_chk_bg_a                #606970;
@define-color    hdyheadbutton_chk_bg_b                #4c5054;
@define-color    hdyheadbutton_chk_bdr                 #6a7073;
@define-color    hdyheadbutton_chk_bdr_r               #42494c;

/* text/foreground color of selections */
@define-color    theme_selected_fg_color               #ffffff;

/* base background color of insensitive widgets */
@define-color    insensitive_bg_color                  #2d343a;

/* text foreground color of insensitive widgets */
@define-color    insensitive_fg_color                  #919494;

/* insensitive text widgets and the like base background color */
@define-color    insensitive_base_color                #2c3033;

/* text color for entries, views and content in general on backdrop windows */
@define-color    theme_unfocused_text_color            #ffffff;

/* widget base background color on backdrop windows */
@define-color    theme_unfocused_bg_color              #2c3033;

/* text widgets and the like base background color on backdrop windows */
@define-color    theme_unfocused_base_color            @theme_base_color;

/* text/foreground color of selections on backdrop windows */
@define-color    theme_unfocused_selected_fg_color     #ffffff;

/* insensitive color on backdrop windows*/
@define-color    unfocused_insensitive_color           #566164;

/* widgets main borders color */
@define-color    borders                               #1b1f20;

/* widgets main borders color on backdrop windows */
@define-color    border_normal                         #0a0a0a;
@define-color    unfocused_borders                     #202425;

/* Cinnamon specific colours */
@define-color    nemo_sidebar_fg                       #ffffff;
@define-color    nemo_sidebar_selected_fg              #ffffff;


/* ************************** N O T I F I C A T I O N   C O L O U R S *************************** */

@define-color    error_text_color                      #cc0000;
@define-color    error_border_color                    #cc0000;
@define-color    error_background_color                #cc0000;

@define-color    warning_text_color                    #f57900;
@define-color    warning_border_color                  #f57900;
@define-color    warning_background_color              #f57900;

@define-color    success_text_color                    #73d216;
@define-color    success_border_color                  #73d216;
@define-color    success_background_color              #73d216;



/* ********************************************************************************************** */
/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color    wm_title                              shade(#2e3436, 1.8);
@define-color    wm_unfocused_title                    #8d9091;
@define-color    wm_highlight                          transparent;
@define-color    wm_borders_edge                       rgba(238, 238, 236, 0.07);
@define-color    wm_bg_a                               shade(#2c3133, 1.2);
@define-color    wm_bg_b                               #2c3133;
@define-color    wm_shadow                             alpha(black, 0.35);
@define-color    wm_border                             alpha(black, 0.18);
@define-color    wm_button_hover_color_a               shade(@theme_base_color, 1.3);
@define-color    wm_button_hover_color_b               @theme_base_color;
@define-color    wm_button_active_color_a              shade(@theme_base_color, 0.85);
@define-color    wm_button_active_color_b              shade(@theme_base_color, 0.89);
@define-color    wm_button_active_color_c              shade(@theme_base_color, 0.9);
@define-color    content_view_bg                       @view_bg;

@define-color    success_color                         #00cc66;
@define-color    warning_color                         #F27835;
@define-color    error_color                           #FC4138;

