
/* selected WnckPager */
PanelApplet.wnck-applet .wnck-pager:selected {
    background-color: #990000;
}

/* hover of WnckPager */
PanelApplet.wnck-applet .wnck-pager:hover {
    background-color: #CC0000;
}

.caja-side-pane text,
.caja-side-pane treeview,
.caja-side-pane:backdrop text,
.caja-side-pane:backdrop treeview {
  color: #ffffff;
  background-color: #591b1f; 
}
