@import url("../gtk-3.22/gtk.css");

/* undecorate the buttons */
.path-bar-box button,
.path-bar-box button.text-button,
.path-bar-box button.image-button,
.path-bar-box button:backdrop,
.path-bar-box button:backdrop.text-button,
.path-bar-box button:backdrop.image-button { 
    background-image: none;
    background-color: transparent;
    background: none;
    border-radius: 0;
    border-width: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
}

/* dim the icon when not checked */
.path-bar-box button:not(:checked) image { 
    opacity: 0.8; 
} 

.path-bar-box button:hover { 
    background: linear-gradient(to bottom, rgba(128,128,128,0.4), rgba(128,128,128,0.4));
}

.path-bar-box {
  transition: background-color 200ms;
}
.path-bar-box {
  border: 1px #222 solid;
  border-radius: 3px;
}
.path-bar-box {
  background: linear-gradient(to bottom, rgba(128,128,128,0.2), rgba(128,128,128,0.2));
}

